# Node dependencies and lockfile.
# The lockfile is ignore for potential usage of mirrors.
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Compilation output files.
index.cjs.map
index.js.map
index.d.ts
index.cjs
index.js
docs/.vitepress/cache/
docs/.vitepress/dist/

# Platform specified files.
.DS_Store

# Code editor setting files.
.atom/
.idea/
.fleet/
.vs/
*.iml
*.ipr
*.iws
*.sln
*.swp
